main {
    position: relative;
    height: 20rem;
    display: flex;
}
h2 {
    text-align: center;
    margin-bottom: 4rem;
}

.table-providers {
    margin: 10rem;
    border-color: black;
}

.nameProv {
    width: 30rem;
}
table, th, td{
    border: 2px solid #D5DBDB;
}

th {
    background-color: #f0f0f0;
}

.logos-table {
    text-align: center;
}

.button-logos {
    border: none;
    outline: none;
    background-color: transparent;
}
.btn-secondary {
    color: #626464;
    border-color: #626262;
    background-color: #f0f0f0;
}

.button-container {
    display: flex;
    flex-direction: row-reverse;

    margin-top: 5rem;
}

/* Para el modal */
.view-detail {
    position: absolute;
    margin-left: 26rem;
    margin-top: 10rem;
    border-color: #9fa4a4;
    width: 40%;
}
.view-detail h2 {
    margin-bottom: 4rem;
    text-align: center;
}

.details-container {
    display: flex;
    border: 1px solid #9fa4a4;
    width: 100%;
}


.data-row {
    text-align: center;
    width: 50%;
}

.details-container p {
    border: 1px solid #9fa4a4;
    margin-bottom: 0rem;
    background-color: #f0f0f0;

}   

.headers {
    width: 50%;
}

.headers p {
    background-color: #f0f0f0;
    padding-left: 0.6rem;
}

.detail-button {
    width: 100%;
}