<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Informacion</th>
      <th scope="col">Editar</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>
        <button type="button" class="botoninfo" data-bs-toggle="modal" data-bs-target="#Detalle">      </button>
        <app-detalle></app-detalle>
      </td>
      <td>
        <button type="button" class="botoneditar" data-bs-toggle="modal" data-bs-target="#editar">      </button>
        <app-editar></app-editar>
      </td>
      <td>
        <button type="button" class="botoneliminar" data-bs-toggle="modal" data-bs-target="#eliminar">      </button>
        <app-eliminar></app-eliminar>
      </td>
    <tr>
      <th scope="row">2</th>
      <td>nombre2</td>
      <td>
        <button type="button" class="botoninfo" data-bs-toggle="modal" data-bs-target="#Detalle">      </button>
        <app-detalle></app-detalle>
      </td>
      <td>
        <button type="button" class="botoneditar" data-bs-toggle="modal" data-bs-target="#editar">      </button>
        <app-editar></app-editar>
      </td>
      <td>
        <button type="button" class="botoneliminar" data-bs-toggle="modal" data-bs-target="#eliminar">      </button>
        <app-eliminar></app-eliminar>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td></td>
      <td>
        <button type="button" class="botoninfo" data-bs-toggle="modal" data-bs-target="#Detalle">      </button>
        <app-detalle></app-detalle>
      </td>
      <td>
        <button type="button" class="botoneditar" data-bs-toggle="modal" data-bs-target="#editar">      </button>
        <app-editar></app-editar>
      </td>
      <td>
        <button type="button" class="botoneliminar" data-bs-toggle="modal" data-bs-target="#eliminar">      </button>
        <app-eliminar></app-eliminar>
      </td>
    </tr>
  </tbody>
</table>